[submodule "prj/page-web-perso"]
  path = prj/page-web-perso
  url = https://github.com/LeoSalaun/pageWebPerso.git

[submodule "prj/page-web-personnelle"] 
  path = prj/page-web-personnelle 
  url = https://github.com/LeoSalaun/pageWebPerso.git